
body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    margin:0px;
    
    height: 100vh;

    background-color: azure;
}

nav{
    background-color: rgb(214, 93, 93);
    padding: 5px 15px;
    color: azure;
    font-size: 30px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    height: 100vh;

    gap :20px
}

.grid{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    color: rgb(214, 213, 213);
    justify-content: center;
    align-items: center;
    
    gap: 5px;
}

.pixel{
    flex-shrink: 1;
    background-color: rgb(194, 194, 194);
    height: 40px;
    width: 40px;
}

button{
    flex-basis: 40px;
    align-self:center;
    padding: 10px 15px;
    font-size: large;
    font-weight: 700;
    
    border:3px solid rgb(255, 165, 165);
    border-radius: 20px;
    background-color: rgb(206, 52, 52);
    color: rgb(255, 255, 255);

}